<%= form_tag game_path(@game.id), :method => 'put' do %>
  <table>
    <tr>
      <th>moves</th>
      <th colspan ="1"></th>
    </tr>
    <% @poss_moves.each do |moves| %>
    <tr>
      <td><%= radio_button_tag(:move, moves) %></td>
      <td><%= label_tag(:move_detail, moves) %></td>
    </tr>
    <% end %>
    <tr>
      <td>target</td>
      <td><%= select_tag(:target,options_for_select(@cur_plist)) %></td>
    </tr>
  </table>
  <%= submit_tag "make move", {:name => nil} %>
<% end %>