<p>
	<%= 'Game '+ String(@game.id) %>
</p>

<%= @game.state %>
<% if @game.state < 6 %>
  <h3>Players In Game</h3>
  <%= render 'player_table' %>

  <%= render 'pre_winner' %>
<% else %>
  <li><%= "The winner is " + @winner %></li>
<% end %>

<p><%= link_to 'Back', lobby_index_path %></p>